label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

/* Error message styling */
.error-message {
    color: red;
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(103, 103, 103);
}

.navbar li{
    float: left;
}