h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
    
}

#uploadStatus{
    margin-bottom: 2rem;
    animation: 4s ease-in-out;
}

.json-key {
    font-size:large;
    color: black;
    
}
.json-value {
    margin-bottom: 1rem;
}

.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(103, 103, 103);
}

.navbar li{
    float: left;
}

body{
    background: linear-gradient(135deg, #33ccff, #cc66ff, yellow);
    height: 100vh;
    margin: 0px;
    color: #fff; /* white text color on colorful background */
}

form {
    margin: 20px;
}


button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


input[type="file"] {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 100%;
}


#moving-box{
    width: 500px;
    height: 250px;
    background: #6d6d6d;
    font-size: 225px;
    text-align: center;

    animation: 5s linear 0s infinite running box;
}

@keyframes box{
    from{margin-left: 69%;}
    to{margin-left: 0%;}
}
